@charset "US-ASCII";

.sig-block {
    fill: white; /* Background color for signature block, gradients allowed */
    stroke-width: 1; /* A border on the signature block */
    stroke: black; /* Border color on signature block */
}

.sig-ink {
    stroke-width: 1; /* width of the signature path */
    stroke: black; /* color of signature path */
    fill: none; /* so it doesn't close and fill a polygon */
}

.clr-sig {
    stroke: red; /* color of link for clearing signature data */
    font-size: 32; /* size of font on button */
} 
